<head>
	<link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">
</head>

<div class="jumbotron">
    <div class="container">
      <h1>{{ index .Params 0 }}</h1>
    </div>
  </div>

<style>
.jumbotron {
  padding: 30px; /* fills out the jumbotron */
  background-color: #01406c;
}

.container {
  width: 1170px; /* specify a width */
  margin: 0 auto;  /* centers the container */
  padding: 0 15px; /* adds some padding to the left and right*/
}

.jumbotron .container {
  max-width: 100%; /* allows the jumbotron to adjust on smaller widths */
}

.jumbotron h1 {
  text-align: center; /* centers the heading */
  color: #FFF;
	font-family: 'PT Serif', serif;
  font-weight: 400;
}
</style>

